
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li.nav {
    float: right;
}
li a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px
}
li a:hover:not(.active) {
    background-color: #65a9d7;
}
li.home {
    float: left;
    font-size: 20px;
}
li a.home {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#carousel {
    width: 480px;
    height: 280px;
    overflow:hidden;
}

#carousel ul {
    width: 1920px;
    padding: 0;
    margin: 0;
}

#carousel ul li {
    width:480px;
    text-align: center;
    height: 280px;
    list-style: none;
    float:  left;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    border: none;
    display: block;
    width: 500px;
}
h1 {
    text-align: center;
    font-size: 40px;
}
#about {
    text-align: center;
}

.descriptionpizza{
    text-align: center;
    padding-bottom: 25px;
}
.pizza {
    display: none;
}
#seePizza, #resetPizza {
    background: #65a9d7;
    border-radius: 8px;
    color: white;
    font-family: Georgia, serif;
    vertical-align: middle;
}

.descriptionbeer {
    text-align: center;
    padding-top: 25px;
    text-align: left;
}
.beer {
    float: none;
    margin-right: auto;
    margin-left: auto;
    display: none;
}
#seeBeer, #resetBeer {
    background: #65a9d7;
    border-radius: 8px;
    color: white;
    font-family: Georgia, serif;
    vertical-align: middle;
}

.movies {
        float: none;
        margin-right: auto;
        margin-left: auto;
        display: none;
    }
.descriptionmovies {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 5px;
    text-align: left;
}
#seeMovies, #resetMovies {
    background: #65a9d7;
    border-radius: 8px;
    color: white;
    font-family: Georgia, serif;
    vertical-align: middle;
}

.buttons {
    text-align: center;
    padding-bottom: 20px;
}

.button:hover {
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

.button:hover {
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
.button:hover {
    background: #28597a;
    color: #ccc;
}
.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}
button {
    margin: 5px;
}

.row {
    padding: 0;
}
.col-lg-4 {
    text-align: center;
}
.col-lg-5 {
    text-align: center;
}

#footer {
    color: #bababa
}


