ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: right;
}

li a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ff0000;
}

li.home {
    float: left;
}

li a.home {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.logo {
    margin-left: auto;
    margin-right: auto;
    padding: none;
    border: none;
    display: block;
}
#about {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20%;
    padding-right: 20%;
}
#about h2 {
    text-align: center;
}
#descriptionpizza{
    padding-top: 90px;
}
#descriptionbeer {
    padding-top: 40px;
}
#descriptionmovies {

}